header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: royalblue;
    color: black;
}

h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    display: block;
    float: left;
}

body {
    background-color: whitesmoke;
}

a {
    padding-right: 50px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: black;
    display: inline-block;
}

img {
    height: 300px;
    width: 260px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: royalblue;
}

nav {
    clear: left;
}

.bio {
    margin: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    line-height: 25px;
}

.works {
    margin: 15px;
    color: black;
    font-size: 195%;
}

.works2 {
    margin: 100px;
    color: black;
    font-size: 195%;
}

.works3 {
    padding: 30px;
    margin: 50px;
    color: black;
    font-size: 195%;
    text-align: left;
}

a:hover {
    color: orange;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 35px;
}

.container2 {
    width: 580px;
    margin: 0 auto;
    padding: 35px;
}

.links {
    float: right;
}

.padding {
    padding: 100px;
}

.box {
    box-sizing: border-box;
    float: left;
    width: 33.33%; 
    padding: 50px;
    height: 500px;
}

.typebar {
    line-height: 50px;
    font-size: 25px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: black;
    text-align: center;
}
