header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: royalblue;
    color: ivory;
}

body {
    background-color: goldenrod;
}

h1 {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    display: block;
    float: left;
}

a {
    padding-right: 50px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: ivory;
    display: inline-block;
}

img {
    height: 300px;
    width: 260px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: royalblue;
}

ul {
    background-color: goldenrod;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    padding-top: 150px;
    margin-left: 50px;
}

.bio {
    margin: 25px;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    line-height: 25px;

}

.works {
    margin: 15px;
    color: ivory;
    font-size: 175%;
}

a:hover {
    color: chartreuse;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 35px;

}
.links {
    float: right;
}
footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: royalblue;
        color: ivory;
        text-align: center;

}
nav {
    clear: both;
}

.works2 {
    margin: 100px;
    color: ivory;
    font-size: 175%;

}

.works3 {
    margin: 100px;
    color: ivory;
    font-size: 175%;
}
.padding {
    padding: 100px;

}